.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

.loader__circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: circle 2s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #fa0303
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px #c04df9;
  }
 50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #00ffa6;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #fa0303;
  }
}

.loader__circle::before {
  position: absolute;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 50%;
  left: 0;
  top: 0;
}

.loader__text {
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 200px;
  color: #737373;
  animation: loading-text 3s ease-in-out infinite;
}

@keyframes loading-text {
  50% {
    color: black;
  }
}
