.movieDetails__modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
}

.movieDetails__content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 5%;
   /* left: 5%; */
  margin-left: 2%; 
  width: 60vw;
  height: 96vh;
}

.movieDetails__overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.95) 40%,
    rgba(0, 0, 0, 0.41082370448179273) 71%
  );
}

.movieDetails__btnContainer {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  top: -3%;
  left: 2%;
}

.movieDetails__btn {
  display: flex;
  cursor: pointer;
  border: none;
  letter-spacing: 4px;
  font-size: 18px;
  color: white;
  background-color: black;
  outline: none;
  width: 175px;
  height: 25px;
  bottom: 50px;
  left: 280px;
  margin-right: 10px;
}

.movieDetails__btn:hover {
  color: white;
}

.movieDetails__header {
  display: flex;
  /* position: relative; */
  align-items: center;
  margin-bottom: 5vh;
}

.movieDetails__headlines {
  height: 35vh;
  width: 55vh;
  /* width: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.movieDetails__title {
  margin: 0;
  font-size: calc(33px + 0.390625vw);
  /* text-align: center; */
}

.movieDetails__tagline {
  font-size: 2vw;
  font-style: italic;
  text-align: center;
}

.movieDetails__overview {
  font-size: 1.5vw;
  margin: 2%;
  margin-bottom: 5%;
  margin-left: 14%;
}

.movieDetails__poster {
  height: 40vh;
  margin-right: 2vw;
}

.movieDetails__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  margin-top: 0;
}

p {
  margin: 1%;
}

a {
  text-decoration: none;
}
